<div class="panel {{gameLabel()}}">
	<div class="panel-heading">
		<div class="panel-title">
			<div class="badge pull-right">
				{{game.state.status.code}}
			</div>
			<a [routerLink]="['/game', game.game_id]"><strong>{{game.name}}</strong></a>
			by <lupus-user-badge [user]="game.owner"></lupus-user-badge>
		</div>
	</div>
	<div class="panel-body">
		<p>
			In the game:
			<span *ngFor="let member of game.members">
				<lupus-user-badge [user]="member"></lupus-user-badge>
			</span>
		</p>
	</div>
</div>