<lupus-loading *ngIf="!game"></lupus-loading>
<div *ngIf="game">
	<h1>
		<div class="badge pull-right">
			{{game.state.status.code}}
		</div>
		{{game.name}}
		<small>by <lupus-user-badge [user]="game.owner"></lupus-user-badge></small>
	</h1>
	<div *ngIf="['running', 'ended', 'stopped'].indexOf(game.state.status.code) == -1">
		<lupus-members-list [game]="game"></lupus-members-list>
	</div>

	<lupus-game-state-draft *ngIf="game.state.status.code == 'draft'"
		[game]="game" [isAdmin]="isAdmin"></lupus-game-state-draft>
	<lupus-game-state-open *ngIf="game.state.status.code == 'open'"
		[game]="game" [isAdmin]="isAdmin" [isMember]="isMember"></lupus-game-state-open>
	<lupus-game-state-closed *ngIf="game.state.status.code == 'closed'"
		[game]="game" [isAdmin]="isAdmin" [isMember]="isMember"></lupus-game-state-closed>
	<lupus-game-state-full *ngIf="game.state.status.code == 'full'"
		[game]="game" [isAdmin]="isAdmin" [isMember]="isMember"></lupus-game-state-full>
	<lupus-game-state-running *ngIf="game.state.status.code == 'running'"
		[game]="game" [isAdmin]="isAdmin" [isMember]="isMember"></lupus-game-state-running>
	<lupus-game-state-ended *ngIf="game.state.status.code == 'ended'"
		[game]="game" ></lupus-game-state-ended>
</div>
