<lupus-loading *ngIf="!game"></lupus-loading>
<div *ngIf="game">
	<h1>
		<div class="badge pull-right">
			{{game.state.status.code}}
		</div>
		{{game.name}}
		<small>by <lupus-user-badge [user]="game.owner"></lupus-user-badge></small>
	</h1>
	<h2>
		In the game
		<small>{{game.members.length}} out of {{game.gen_info.min_players}} players (max {{game.gen_info.max_players}})</small>
	</h2>
	<span *ngFor="let member of game.members">
		<lupus-user-badge [user]="member"></lupus-user-badge>
	</span>

	<lupus-game-state-draft *ngIf="game.state.status.code == 'draft'"
		[game]="game" [isAdmin]="isAdmin"></lupus-game-state-draft>
	<lupus-game-state-open *ngIf="game.state.status.code == 'open'"
		[game]="game" [isAdmin]="isAdmin" [isMember]="isMember"></lupus-game-state-open>
	<lupus-game-state-closed *ngIf="game.state.status.code == 'closed'"
		[game]="game" [isAdmin]="isAdmin" [isMember]="isMember"></lupus-game-state-closed>
	<lupus-game-state-full *ngIf="game.state.status.code == 'full'"
		[game]="game" [isAdmin]="isAdmin" [isMember]="isMember"></lupus-game-state-full>
</div>
