<div *ngIf="isAdmin">
	<h2>You are the admin of this game</h2>
</div>

<lupus-players-list [game]="game"></lupus-players-list>

<div *ngIf="isMember">
	<lupus-game-splash [game]="game"></lupus-game-splash>

	<div class="row">
		<div *ngIf="player.extra && player.extra.needVote" class="col-md-4">
			{{player.extra.needVote.message}}

			<div class="form-group">
				<select class="form-control" [(ngModel)]="current_vote">
					<option *ngFor="let votable of votables" [value]="votable.value">
						{{ votable.text }}
					</option>
				</select>
			</div>

			<button class="btn btn-success" (click)="vote()">Vote</button>
		</div>
	</div>
</div>
