<div *ngIf="isAdmin">
	<h2>You are the admin of this game</h2>

	<button class="btn btn-success" (click)="openGame()">Open this game</button>
	<button class="btn btn-success" (click)="startGame()"
		[disabled]="game.members.length < game.gen_info.min_players">
		Start the game!
	</button>
</div>
<div *ngIf="isMember">
	<h2>You are a member of this game</h2>
	<div *ngIf="!isAdmin">
		<p><strong>Warning!</strong> If you leave this game now you can join again only when it will be reopened</p>
		<button class="btn btn-danger" (click)="leaveGame()">Leave the game</button>
	</div>
</div>
