<span class="badge pull-right">
	<span *ngIf="game.state.day % 2 == 0">Day</span>
	<span *ngIf="game.state.day % 2 == 1">Night</span>
	{{game.state.day}}
</span>

<div *ngIf="isAdmin">
	<h2>You are the admin of this game</h2>
</div>

<lupus-players-list [game]="game"></lupus-players-list>

<div *ngIf="player">
	<lupus-game-splash [game]="game"></lupus-game-splash>

	<div class="row" *ngIf="player.extra">
		<div *ngIf="player.extra.needVote" class="col-md-4">
			<lupus-templater *ngIf="player.extra.extraMessage" [rawTemplate]="player.extra.extraMessage"></lupus-templater>

			<p>{{player.extra.needVote.message}}</p>

			<div class="form-group">
				<select class="form-control" [(ngModel)]="current_vote">
					<option *ngFor="let votable of votables" [value]="votable.value">
						{{ votable.text }}
					</option>
				</select>
			</div>

			<button class="btn btn-success" (click)="vote()">Vote</button>
		</div>
	</div>
	<div *ngIf="!player.extra">
		<em>Loading...</em>
	</div>
</div>
