<h1>Login</h1>
<div class="row">
	<div class="col-md-4">
		<div *ngIf="error" class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
			{{error}}
		</div>
		<form (submit)="onLogin($event)">
			<div class="form-group">
				<label for="login-username">Username</label>
				<input type="text" class="form-control" id="login-username" placeholder="Username"
					name="username" [(ngModel)]="credentials.username">
			</div>
			<div class="form-group">
				<label for="login-password">Password</label>
				<input type="password" class="form-control" id="login-password" placeholder="Password"
					name="password" [(ngModel)]="credentials.password">
			</div>
			<button type="submit" class="btn btn-default">Login</button>
		</form>
	</div>
</div>
